body{
  padding: 2rem;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

header{
  position: relative;
}

main{
  margin-top: 15%;
}

button {
  background-color: rgba(28, 46, 212);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:rgb(79, 89, 179) ;
  color: white;
  border:none;
}

#closeButton {
  background-color:rgba(28, 46, 212) ;
  color: white;
  border:none;
}

#closeButton:hover {
  background-color: rgb(54, 54, 54) ;
  color: white;
  border:none;
}

.split {
  /* height: 100%; */
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.right {
  right: 0;
  background-color:black;
  padding-left: 65px;
}

#searchData {
  width: 45%;
  margin: 5px 5px 0px 0px;
}

#registerForm, #loginForm{
  width: 50%;
  /* display: block;
  margin-left: auto;
  margin-right: auto */
}

/* figure:hover{
  transform: rotateY(90deg);
}

figure:hover + div.overview{
  transform: rotateY(0deg);
}
*/
#movieList article {
  display: inline-block;
  position: relative;
}

figure {
  position: relative;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
  transition: all .3s linear;
}

/* .image {
  transition: .5s ease;
  backface-visibility: hidden;
}

figure:hover .image{
  opacity: 0,3;
} */


.seeMore {
 font-style: italic;
 cursor: pointer;
}

.overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  transform: rotateY(90deg);
  transition: all .3s linear;
  transition-delay: .3s;
}

#movieList div div {
  margin: auto;
  width: 50%;
}

article {
 max-width: 45%;
}


#moviePopin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 32, 32, 0.76);
  z-index: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity .3s;
}

#moviePopin.open{
  opacity: 1;
  z-index: 1000;
}

#moviePopin.open.close{
  opacity: 0;
}

#moviePopin article {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: white;
  padding: 2rem;
}

#moviePopin article div{
  width: calc( 50% - 1rem );
}

/* .fa-heart {
  position: absolute;
  top: 26px;
  right: 37px;
  font-size: 30px;
  color: rgba(28, 46, 212);
} */

footer{
  display: block;
  text-align: center;
  width: 50%;
  margin-top: 61%;
}