
/*
  ##Device = Desktops
*/
@media (min-width: 1281px) {
  #formConnexion {
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #registerButton {
    position: relative;
    top: 16px;
    left: 28%;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
    font-size: 1.3em;
  }

  #loginButton {
    padding: 0;
    position: relative;
    top: 16px;
    left: 47%;
    background-color: transparent;
    font-size: 1.3em;
  }

  #registerForm {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
  }

  #registerForm button {
    width: 100%;
  }

  #loginForm {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  #loginForm button {
    width: 100%;
  }
}

/*
  ##Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  #formConnexion {
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #registerButton {
    position: relative;
    top: 16px;
    left: 25%;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
    font-size: 1.3em;
  }

  #loginButton {
    padding: 0;
    position: relative;
    top: 16px;
    left: 47%;
    background-color: transparent;
    font-size: 1.3em;
  }

  #registerForm {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  #registerForm button {
    width: 100%;
  }

  #loginForm {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  #loginForm button {
    width: 100%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  #formConnexion {
    background-color: white;
    width: 70%;
    margin: 30px auto 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #registerButton {
    position: relative;
    top: 16px;
    left: 20%;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
    font-size: 1.3em;
  }

  #loginButton {
    padding: 0;
    position: relative;
    top: 16px;
    left: 52%;
    background-color: transparent;
    font-size: 1.3em;
  }

  #registerForm {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  #registerForm button {
    width: 100%;
  }

  #loginForm {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  #loginForm button {
    width: 100%;
  }
}


@media (min-width: 480px) and (max-width: 769px) {
  #formConnexion {
    background-color: white;
    width: 90%;
    margin: 20px auto 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #registerButton {
    position: relative;
    top: 16px;
    left: 15%;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
    font-size: 1.3em;
  }

  #loginButton {
    padding: 0;
    position: relative;
    top: 16px;
    left: 53%;
    background-color: transparent;
    font-size: 1.3em;
  }

  #registerForm {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  #registerForm button {
    width: 100%;
  }

  #loginForm {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  #loginForm button {
    width: 100%;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {

  #formConnexion {
    background-color: white;
    width: 100%;
    margin: 20px auto 0 auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #registerButton {
    position: relative;
    top: 16px;
    left: 10%;
    margin-bottom: 40px;
    padding: 0;
    background-color: transparent;
    font-size: 1.3em;
  }

  #loginButton {
    padding: 0;
    position: relative;
    top: 16px;
    left: 35%;
    background-color: transparent;
    font-size: 1.3em;
  }

  #registerForm {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  #registerForm button {
    width: 100%;
  }

  #loginForm {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
  }

  #loginForm button {
    width: 100%;
  }
}
