body{
  padding: 2rem;
  background-color: #eee;
}

header{
  position: relative;
  min-height: 10vh;
}

main {
  min-height: 79vh;
}

button {
  background-color:  #3C66B1;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:#52A2E7 ;
  color: white;
  border:none;
}

h1 {
  color: white;
    margin-bottom: 0;
    padding: 5px 30px;
    font-size: 30px;
    height: 50px;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.6em;
}

footer{
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}

.hidden{
  display: none;
}

.show{
  display: block;
}
