#moviePopin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 32, 32, 0.76);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity .3s;
}

#moviePopin.open{
  opacity: 1;
  z-index: 1000;
}

#moviePopin.open.close{
  opacity: 0;
}

#moviePopin article {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: white;
  padding: 2rem;
  text-align: left;
}

#moviePopin article div{
  width: calc( 50% - 1rem );
}

.popin-hidden {
    z-index: -9999;
}




#favoritePopin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 32, 32, 0.76);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity .3s;
}

#favoritePopin.open{
  opacity: 1;
  z-index: 1000;
}

#favoritePopin.open.close{
  opacity: 0;
}

#favoritePopin article {
  position: relative;
  margin: auto;
  justify-content: space-between;
  width: 50%;
  background: white;
  padding: 2rem;
  text-align: left;
}

#favoritePopin img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

#favoritePopin p {
  text-align: center;
  font-size: 2rem;
  margin-top: 29px;
}

#favoritePopin article p span {
  font-weight: 600;
}

.popin-hidden {
    z-index: -9999;
}





